.ff-text-muted {
    color: #777777!important;
}


.table.ff-table {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    color: #333333;
}

.table.ff-table thead th {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: #777777;
    border-top: 0;
}

.table.ff-table tbody tr:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.table.ff-table th,
.table.ff-table td {
    border-bottom: 1px solid #e9e9e9;
    vertical-align: middle;
}

.td-inner {
    display: block;
    max-width: 25vw;
    overflow: hidden;
}