.company-page {
    position: fixed;
    right: 0;
    max-width: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2000;
    overflow: auto;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.03), -5px 0 10px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    padding: 30px;
}

@media (min-width: 768px) {
.company-page {
    top: 70px;
    bottom: 0;
    width: 464px;
    z-index: 1000;
}}

@media (min-width: 992px) {
.company-page {
    width: 886px;
}}

.company-page .ff-card {
    height: calc(100% - 12px);
}

.company-page .title {
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 16px;
}

.company-page .summary, 
.company-page .description, {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 20px;
}
.company-page .summary {
    font-weight: bold;
    margin-bottom: 5px;
}

.company-page .buttons {
    margin-bottom: 38px;
}
.company-page .btn {
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 11.5px;
    background-color: #fff0c5;
    font-size: 11px;
    color: #be7200;
    margin-left: 5px;
}
.pill:before {
    content: '';
    display: flex;
    align-content: center;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    background-image: url('../star.svg');
    background-position: center;
    background-size: contain;

}

.checkmark {
    display: inline-flex;
    height: 24px;
    width: 24px;
    margin-left: 5px;
}


.btn.ff-btn-primary {
    color: #ffffff;
    background-color: #3091ff;
}
.btn.ff-btn-primary:hover {
    color: #ffffff;
    background-color: #2080ee;
}
.btn.ff-btn-secondary{
    color: #3091ff;
    background-color: #ecf5ff;
}
.btn.ff-btn-secondary:hover {
    color: #3091ff;
    background-color: #ebf4fe;
}
